/*.slide {*/
/*    max-width: 1240px;*/
/*}*/

.bigSwiper.mySwiper {
    height: 500px;
}

.bigSwiper .box-slide {
    height: 500px;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.bigSwiper .box-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    opacity: 0.4;
}

.bigSwiper .description-slide {
    transition: 1s;
    bottom: -150px;
    left: 60px;
    font-family: 'Aleo', serif;
    max-width: 80%;
    position: absolute;
    font-size: 18px;
    color: white;
}

.bigSwiper .box-slide:hover .description-slide{
    left: 60px;
    right: 60px;
    bottom: 50px;
}

.bigSwiper .title-slide {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s ease;
    z-index: 1;
    position: absolute;
    left: 60px;
    top: 60px;
    font-size: 24px;
    font-family: 'Aleo', serif;
}
p{
    margin: 0;
}
.bigSwiper .swiper-button-next, .bigSwiper .swiper-button-prev {
    width: 100px;
    height: 100px;
    background: url("../assets/nextarrow.svg") center center/cover no-repeat;
    opacity: .7;
    transition: 1s;
}
.bigSwiper .swiper-button-next:hover {
    opacity: 1;
}
.bigSwiper .swiper-button-prev:hover {
    opacity: 1;
}

.bigSwiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
}
.bigSwiper .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.bigSwiper .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
}
.bigSwiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
    transform: rotate(180deg);
}



