.section h2 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 33px;
  color: white;
}

.section-header {
  & h2{
    font-size: 30px;
    line-height: 1.2;
    margin: 33px 0;
    color: white;
  }

  & .__selection {
    //width: 100%;
    padding: 11px 0;
    background: #2b2b2b;

    & .__left {
      display: flex;
      & .__box {
        background-color: #1b1b1b;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        height: 32px;
        margin-right: 10px;
        padding: 2px 0;
        position: relative;
        transform: translateX(0);

        & div {
          background-color: transparent;
          border-radius: 4px;
          //color: var(--white-60);
          color: #fff;
          cursor: pointer;
          font-size: 15px;
          line-height: 28px;
          margin: 0 2px;
          padding: 2px 16px;
          white-space: nowrap;
        }


        & .__choise{
          background-color: hsl(0deg 0% 37.65%);
        }
        //& .__choise2 {
        //  transform: translateX(62px);
        //}

      }

      & .__select-option {
        display: flex;
        gap: 20px;

        & select {
          text-transform: uppercase;
          //appearance: none;
          outline: none;
          background: #2b2b2b;
          border: none;
          color: white;
        }
      }
    }
  }
}

/* Стилизация выпадающего контейнера */
.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;

  position: relative;
  //display: inline-block;
  color: white;
  text-transform: uppercase;
  transition: 0.6s;
  border-radius: 5px;
}

/* Стилизация кнопки/заголовка выпадающего списка */
.dropdown-toggle {
  padding: 10px;
  //border: 1px solid #ccc;
  //background-color: #fff;
}

/* Стилизация выпадающего контента */
.dropdown-content {
  height: 200px;
  width: 200px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e6e6e6;
}

/* Стилизация опций */
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  background-color: hsl(0deg 0% 37.65%);
}
//.dropdown-item:hover {
//  background: #494949;
//}

/* При наведении на выпадающий контейнер показываем его содержимое */
.dropdown:hover, .dropdown-item:hover {
  background: #494949;
}
.dropdown-click {
  display: block;
}
